footer{	
	height:0.49rem;
	width:100%;
	border-top:1px solid #eee;
	position:fixed;
	bottom:0;
	left:0;
	z-index:10;
	background:#fff;
	.footerNav{
		display:flex;
		height:100%;

		a{
			width:25%;
			height:100%;
			display:flex;
			flex-direction:column;
			justify-content: center;
			align-items:center;
			color:#999 !important;
			i{			
				font-size:20px;
			}
		}
		.active{
			color:hotpink !important;
			background:none;
		}
	}
}



