.promise {
  display: flex;
  padding: 0 0.1rem;
  box-sizing: border-box;
  justify-content: flex-start;
  flex-flow: row nowrap;
  width: 100%;
  height: 0.49rem;
  line-height: 0.49rem; }
  .promise .youxian, .promise .jiance, .promise .peifu {
    width: 33%;
    text-align: center; }
    .promise .youxian img, .promise .jiance img, .promise .peifu img {
      display: inline-block;
      vertical-align: sub;
      width: 16px;
      height: 16px; }

.card {
  width: 100%;
  height: 100%;
  padding: 0 0.1rem;
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  border-radius: 4px;
  padding-bottom: 0.1rem;
  border-bottom: 1px solid #ccc; }
  .card .left {
    width: 49%;
    height: 1.3rem; }
    .card .left img {
      width: 100%;
      display: block; }
  .card .right {
    width: 49%;
    height: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box; }
    .card .right .top {
      height: 49%; }
      .card .right .top img {
        height: 100%;
        width: 100%;
        display: block; }
    .card .right .bottom {
      height: 49%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .card .right .bottom .invite {
        width: 49%; }
        .card .right .bottom .invite img {
          height: 100%;
          width: 100%;
          display: block; }
      .card .right .bottom .qiandao {
        width: 49%; }
        .card .right .bottom .qiandao img {
          height: 100%;
          width: 100%;
          display: block; }

.hidden {
  display: none !important; }

.hot {
  height: 0.65rem;
  margin-bottom: 0.2rem; }
  .hot img {
    height: 100%;
    width: auto; }

.product {
  height: 1.2rem;
  padding: 0.22rem 0;
  display: flex;
  box-sizing: content-box;
  border-bottom: 1px solid #f5f5f5;
  position: relative; }
  .product a {
    display: flex;
    width: 100%;
    height: 100%; }
  .product .pleft {
    flex: 6;
    height: 100%; }
    .product .pleft img {
      height: 100%;
      margin: 0 0.175rem; }
  .product .pright {
    flex: 11;
    height: 100%; }
    .product .pright .pone {
      padding-top: 0.11rem;
      font-size: 16px;
      color: #646063; }
    .product .pright .ptwo {
      font-size: 14px;
      color: #9b9b9b; }
    .product .pright .pthree span {
      border: 1px solid #d2d2d2;
      color: #dcdcdc;
      border-radius: 5px; }
    .product .pright .pfour {
      color: #ff4891;
      font-size: 12px; }
      .product .pright .pfour span {
        font-size: 16px; }
    .product .pright .pfive {
      color: #f8bc00;
      font-size: 12px;
      line-height: 22px; }
      .product .pright .pfive span {
        font-size: 16px; }

.cart {
  width: 0.49rem;
  height: 0.49rem;
  position: absolute;
  bottom: 0.1rem;
  right: 0.1rem; }

.num {
  position: absolute;
  width: 1rem;
  bottom: 0.25rem;
  right: 0.05rem;
  height: 0.25rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .num .reduce {
    display: inline-block;
    width: 24%;
    height: 100%;
    font-size: 52px;
    color: hotpink;
    line-height: 18%;
    border: 2px solid hotpink;
    border-radius: 50%;
    text-align: center; }
  .num .count {
    width: 40%;
    height: 100%;
    display: inline-block;
    text-align: center; }
  .num .add {
    width: 24%;
    height: 100%;
    display: inline-block;
    color: #fff;
    background: hotpink;
    font-size: 30px;
    line-height: 40%;
    border: 2px solid hotpink;
    border-radius: 50%;
    text-align: center; }

.hidden {
  display: none; }
