.searchDetailPage{
	position:fixed;
	top:0.41rem;
	left:0;
	width:100%;
	height:100%;
	background:#fff;
	overflow:auto;
	z-index:100;
	.product{
			height:1.2rem;
			padding:0.22rem 0;
			display:flex;
			box-sizing:content-box;
			border-bottom: 1px solid #f5f5f5;
			position:relative;
			.pleft{
				flex:6;
				height:100%;
				img{
					height:100%;
					margin: 0 0.175rem
				}
			}
			.pright{
				flex:11;
				height:100%;
				position:relative;
				.pone{
					padding-top:0.11rem;
					font-size:16px;
					color:#646063;
				}
				.ptwo{
					font-size:14px;
					color:#9b9b9b;
				}
				.pthree{
					span{
						border:1px solid #d2d2d2;
						color:#dcdcdc;
						border-radius:5px;
					}
				}
				.pfour{
					color: rgb(255, 72, 145);
					font-size:12px;
					span{
						font-size:16px;
					}
				}
				.pfive{
					color: rgb(248, 188, 0);
					font-size:12px;
					line-height:22px;
					span{
						font-size:16px;
					}
				}
				.car{
					width:0.49rem;
					height:0.49rem;
					position:absolute;
					bottom:-0.2rem;
					right:0.1rem;
				}
				.num{
					position:absolute;
					border:1px solid #ccc;
					width:1rem;
					bottom:0;
					right:0.1rem;
					height:0.2rem;
					display:flex;
					justify-content:space-around;
					.reduce{
						display:inline-block;
						width:30%;
						height:100%;
						background-size:50%;
						background:url(../../image/reduce-img-cart.png)no-repeat center center #fff;
					}
					.count{
						width:40%;
						height:100%;
						display:inline-block;
					}
					.add{
						width:30%;
						height:100%;
						background-size:50%;
						display:inline-block;
						background:url(../../image/add-img-cart.png)no-repeat center center #fff;
					}
				}
			}
	}
}