.searchPage {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #fff;
  top: 0;
  z-index: 11; }
  .searchPage .searchHead {
    display: flex;
    flex-direction: row;
    height: 0.4rem;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    .searchPage .searchHead i {
      width: 10%;
      text-align: center;
      font-size: 22px; }
    .searchPage .searchHead .searchBox {
      position: relative;
      width: 75%;
      height: 0.4rem;
      display: inline-block;
      line-height: 0.4rem; }
      .searchPage .searchHead .searchBox .iptbg {
        position: absolute;
        font-size: 14px;
        line-height: 0.35rem; }
      .searchPage .searchHead .searchBox input {
        width: 100%;
        height: 0.35rem;
        outline: none;
        border: none;
        background: #ccc;
        text-indent: 30px; }
      .searchPage .searchHead .searchBox span {
        display: block;
        position: absolute;
        right: 0.1rem;
        top: 0.1rem;
        border-radius: 50%;
        background: #333;
        color: #eee;
        width: 0.2rem;
        height: 0.2rem;
        line-height: 0.2rem;
        text-align: center; }
    .searchPage .searchHead span {
      width: 15%;
      text-align: center;
      font-size: 16px;
      font-weight: bold; }
  .searchPage .hotSearch {
    line-height: 0.4rem;
    text-indent: 0.1rem;
    background: #ccc; }
    .searchPage .hotSearch p {
      font-size: 16px; }
  .searchPage .recommend .recommendBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-size: border-box;
    padding: 0.1rem; }
    .searchPage .recommend .recommendBox li {
      padding: 0.1rem;
      background: #eee;
      border-radius: 5px;
      width: 18%;
      margin-bottom: 0.1rem; }

.fade-enter {
  margin-right: -100%;
  transition-duration: 500ms; }

.fade-enter-acitve {
  margin-right: 0; }

.fade-leave {
  transform: translateX(0); }

.fade-leave-active {
  transform: translateX(100%);
  transition: all 1s linear; }
